.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.login__box {
  height: 450px;
  width: 380px;
  background: #3d3c3c;
  /* border: 1px solid #fff; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.login__box .form__control {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__header {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  /* text-transform: uppercase; */
  /* letter-spacing: 3px; */
}

.login__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__body input {
  margin: 10px auto;
  display: block;
  background: none;
  border: none;
  padding: 14px 10px;
  border-radius: 30px;
  outline: none;
  text-align: center;
  border: 2px solid #f53b57;
  width: 230px;
  color: #fff;
  font-size: 1rem;
  transition: 0.25s ease-in-out;
}

::placeholder {
  color: #d1cfcf;
}
.login__body input:focus {
  width: 280px;
  border: 2px solid #27ae60;
}

.login__body button {
  padding: 14px 25px;
  width: 230px;
  border-radius: 30px;
  background: #f53b57;
  border: none;
  color: #fff;
  outline: none;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
}

.login__body button:hover {
  transform: translateY(-4px);
}

.form__control p {
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.form__control p a {
  text-decoration: none;
  color: #f53b57;
}
